*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
div, h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-weight: 500;

}
p, span, button{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:20px 30px;
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid lightgray;
}
nav h2 span{
    color: rgb(143, 39, 39);
    font-style:italic;
    font-weight: 500;

}
.nav-links{
    display: flex;
}
.nav-links li{
    list-style: none;
    margin: 0 15px;
}
.nav-links li a{
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.nav-links button{
    padding:10px 30px;
    background-color: rgb(143, 39, 39);
    color: white;
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.hero-img{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../img/img6.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    text-align: center;
}
.hero-txt{
    color: white;
    position: relative;
    top: 30%;
}
.hero-txt h1{
    font-size: 70px;
}
.hero-txt p{
    font-size: 20px;
}
.btn{
    padding:20px 50px;
    text-transform: uppercase;
    margin: 20px 0;
    color: brown;
    background-color: white;
    border: none;
}

.sec{
    margin: 100px 50px;
    text-align: center;
}
.sec h1{
    font-size: 40px;
}
.sec1-row, .sec2-row{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.sec1-col{
    flex-basis: 31%;
     background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
   transition: transform 0.3s ease;
}
.sec1-col:hover{
    transform: scale(1.1);
}
.sec1-col img{
    width: 100%;
}
.sec1-text{
    padding: 30px 20px;
    text-align: left;
}
.sec1-text h3{
    font-size: 27px;
    line-height: 2;
}
.sec1-text p{
    font-size: 15px;
    line-height: 1.5;
    color: rgb(63, 63, 63);
}

.sec2{
    background-color: rgb(143, 39, 39);
    padding: 100px;
    text-align: center;
}
.sec2 h2{
    font-style: italic;
    font-size: 45px;
    word-spacing: -5px;
    color: white;
    background-color: transparent;
}
.sec2-col{
    border: 1px solid whitesmoke;
    padding: 30px;
    flex-basis: 23%;
    color: white;
}
.sec2-col:hover{
    border: 3px outset white;
    color: goldenrod;
}
.sec2-col i{
    font-size: 40px;
    padding: 10px;
}

.sec3{
    padding: 100px;
}
.sec3 h3{
    font-size: 40px;
    line-height: 1;
}
.sec3 p{
    font-style: italic;
    color: rgb(83, 83, 83);
    font-size: 20px;
    line-height: 2;
    font-family: 'Playfair Display', serif;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}
.grid-container > div img{
    width: 200px;
    transition: transform 0.3s ease;
}
.grid-container > div img:hover{
   transform: scale(1.1);
}
.btn-bg{
    background-color: rgb(143, 39, 39);
    color: white;
}

footer{
    border: none;
    border-top: 1px solid grey;
    text-align: center;
    padding: 50px;
}
footer h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 2;
}
footer p{
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: rgb(83, 83, 83);
}
footer i{
    font-size: 40px;
    margin: 10px;
    color: rgb(143, 39, 39);
}
footer span{
    line-height: 5;
   font-size: 15px;
   color: rgb(143, 39, 39);
}